# Arquivos Java compilados e logs
*.class
*.log

# Pacotes e arquivos compactados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.xml
*.mf

# Pastas geradas pelo NetBeans
*/nbproject/
*/build/
*/dist/
*/lib/
*/test/

# Arquivos de erro da JVM
hs_err_pid*
replay_pid*

# Arquivos temporários do Mobile Tools for Java (J2ME)
.mtj.tmp/

# BlueJ
*.ctxt